<html>
	<head>
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="css/materialize.css">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
	</head>
	<body>
		<form action="/videojuego/{{id}}/nueva_form_valoracion" method="post">
			<p>Calificacion: </p>
			<input type="number" name='calificacion'/>
			<p>Comentario: </p>
			<input type="text" name='comentario'/>
			<br>
			<p>Fecha: </p>
			<input type='date' name='fecha'/>
			<br>
			<br>
			<input type='submit' value='Enviar'/>
			<input type="hidden" name="_csrf" value="{{token}}"/>
			
		</form>
	</body>
</html>