<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="css/materialize.css">
</head>
<body>
	<center>
		<h1>Noticias</h1>
		<ul>
		{{#noticias}}
			<li><a href="/noticia/{{id}}">{{.}}</a></li>
		{{/noticias}}
		</ul> 	
		{{#admin}}
		<a href="nueva_noticia.html">Agregar una nueva noticia</a>
		<br>
		{{/admin}}
		<a href="/">Volver al menú principal</a>
	</center>
</body>
</html>