<html>
<head>
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="css/materialize.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
</head>
<body>
	<ul>
	{{#pedidos}}
		<li><a href="/pedido/{{id}}">{{.}}</a></li>
	{{/pedidos}}
	</ul> 	

	<a href="/realizar_pedido">Agregar un nuevo pedido</a>
	<br>
	<a href="/">Volver al menú principal</a>
</body>
</html>