<html>
<head>
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="css/materialize.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
</head>
<body>
	<h1>Titulo: {{Videojuego.titulo}}</h1>
	<p>Descripcion: {{Videojuego.descripcion}}</p>
	<p>Precio: {{Videojuego.precio}}</p>
	<p>Disponibilidad: {{Videojuego}} </p>
	<h3>Valoraciones</h3>
	{{#Videojuego.valoraciones}}
		<li><a href="/videojuego/{{Videojuego.id}}/ver_valoracion/{{-index}}">{{this.comentario}}</a></li>
	{{/Videojuego.valoraciones}}
	<br>
	{{#user}}
	<a href="/videojuego/{{Videojuego.id}}/form_valoracion">Nueva valoración</a>
	<br>
	<br>
	<form action="/agregar_videojuego_pedido_actual/{{Videojuego.id}}" method="post">
		<input type='submit' value='Agregar videojuego al pedido actual'/>
		
	</form>
	{{/user}}
	<br>
	<a href="/videojuegos">Volver al tablón de videojuegos</a>
	<br>
</body>
</html>
